@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Coda+Caption:wght@800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Staatliches&family=Zilla+Slab:wght@400;700&display=swap");

.catamaran {
  font-family: "Catamaran", sans-serif;
}

.zilla-slab {
  font-family: "Zilla Slab", serif;
}

.coda-caption {
  font-family: "Coda Caption", sans-serif;
}

.staatliches {
  font-family: "Staatliches", cursive;
}

.navbar li:last-child a {
  @apply pr-0;
}

.roboto {
  font-family: "Roboto", sans-serif;
}
